.index-main {
  text-align: center;
  
}

.input-main {
  text-align: center;
}

.input-form {
  margin: auto 0;
  margin-top: 10%;
}

.input-form input {
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  border: none;
}
.db-table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid #EED8E4;
  padding: 10px;
}

table {
  overflow: hidden;
  overflow-y:scroll;
  height:80%;
  margin-left: auto;
  margin-right: auto;
}

.index-nav {
  overflow: hidden;
  font-family: Calibri;
  font-weight: bolder;
  margin-top: 20px;
  align-items: center;

}

.index-nav a {
  color: #EED8E4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  opacity: 0.5;
}

.index-nav a:hover {
  opacity: 100%;
  color: white;
}

.index-nav li.active a:hover {
  color: black;
}

.index-nav li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.index-nav li:hover {
  opacity: 100%;
}
