<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/main.css"/>
  <!-- <link rel="stylesheet" href="/src/main/resources/public/stylesheets/main.css"> -->
  <title>Home</title>
</head>
<body class="index-main" style="background-color:#001f3f; font-family: Calibri, 'Trebuchet MS', sans-serif; color:#EED8E4">
  <header class="index-nav">
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/input}">Add Rectangle</a></li>
    <li><a th:href="@{/db}">Rectangle Cart</a></li>
  </header>
  <h1 style="font-size: 100px">CSS Rectangle Element Maker</h1>
  <h2>(1) Make & Add Rectangle</h2>
  <h2>(2) View Your Rectangles in Rectangle Cart</h3>
</body>
</html>